@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
#videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.content {
    position: fixed;
    top: 0;
    background-color: grey;
    color: white;
    text-align: center;
    width: 100%;
    font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}
.elaborate {
    position: fixed;
    bottom: 10;
    background-color: grey;
    color: white;
    text-align: center;
    width: 100%;
}
